#menu-section{
  color: rgba(var(--text-color),1);
  input{
    display: none;

  }
}
input#menu:checked {
    ~ #menu-controller { transform: translate(-10vw); }
    ~ #dimmed-bg {
        visibility: visible;
        transform: translate(0);
        transition: transform 1s 0s;
    }
    ~ #menu-content {
        visibility: visible;
        transform: translate(0);
        transition: transform .5s .4s;
    }
}
#menu-controller{
  min-height: 100vh;
  height: 100%;
  width: calc(4.5vw + 70px);
  //position: static;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-top: 40px;
  background-color: var(--sidebar-1);
  box-shadow: 0 10px 20px var(--shadow), 0 6px 6px var(--shadow);
  transition: transform 1s;

  label{
    height: 50px;
    width: 40%;
    margin: 0 auto;
    display: block;
    background-position: center;
    background-image: url("hamburger.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

}

#dimmed-bg
{
  visibility: hidden;
  transform: translate(-120vw);
  transition: all 0.8s 0.2s, color 0.2s, background-color 0.2s;
  background-color: rgba(12, 12, 12, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

#menu-content{
  transform: translate(-1200px);
  visibility: hidden;
  transition: all 0.6s 0, color 0.2s, background-color 0.2s;
  padding: 30px;
  position: absolute;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  min-height: 100vh;
  width: 50%;
  background-color: var(--sidebar-1);

  header{
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
   img{
    width: 200px;
    height: 200px;
  }
  label{
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-right: 50px;
    background-image: url("close.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

  #menu-items{
    transition: all 0.2s;
    padding: 30px;
    padding-top: 0;
    h2{
      cursor: pointer;
      font-size: 30px;
      font-weight: bold;
      padding: 15px;
      color: rgba(var(--text-color),1);
    }
    #theme{
      transition: all 0.2s;
      h5{
        font-size: 30px;
        font-weight: bold;
        padding-left: 15px;
        color: rgba(var(--text-color),1);
        line-height: 10%;
        span{
          margin-left: 40px;
          &:hover{
            opacity: 0.6;
            cursor: pointer;
          }
        }

      }
    }
  }
}

@media (max-width:1000px)
{
  #dimmed-bg{
    transform: translate(0, -120vh);
  }
  #menu-controller{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    min-height: auto;
    padding-top: 0;

    label{
      width: 100px;
    }
  }
  #menu-content{
    transform: translate(0, -100vh);
    width: 100%;
    padding: 0;
    #menu-items{
      #theme{
        h5{
        span{
          margin-left: 0;
        }
      }
      }
    }
    header{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img{
        width: 150px;
        height: 150px;
      }
      label{
        width: 30px;
        height: 30px;
        margin: 30px 0 10px 0;
      }
    }
    h2{
      text-align: center;
      font-size: 25px;
    }
    h5{
      text-align: center;
      font-size: 25px;
    }
  }
  input#menu:checked{
    ~ #menu-controller{transform: translate(0, -10vh);}
  }
}

@media (max-width: 500px)
{
  #menu-controller{
  height: 75px;
  label{
    width: 40px;
  }
}
}
