$color-transition-time: 0.2s;

:root{
  //light theme
  --background-color: #fffaff;
  --text-color: 12, 12, 12;
  --shadow: #000000;
  --sidebar-1: #fffaff;
  --shapecolor: #0D0630;

  //dark theme
  /*--background-color: #1c1f1d;
  --text-color: 255, 255, 255;
  --shadow: #fcfcfc;
  --sidebar-1: #0a0a0a;
  --shapecolor: #D80D09;*/
}
